{% extends "users/base.html" %}

{% block content %}
    <div class="content-section">
        <h3>Create an account</h3>
        <form action="{% url 'bank_accounts:create_account' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Account name">
            
           
            <button>Create</button>
         </form>
         
         <hr />
         {% if error %}
            {{ error }}
         {% endif %}
    </div>
{% endblock content %}