{% extends 'users/base.html' %}  
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Accounts overview</h2>


                {% for account in usersAccounts %}
                    <li class="list-group-item">
                        <a href="{% url 'bank_accounts:accounts_show' account.id %}" class="list-group-item list-group-item-action">
                            {{ account.name }} ({{ account.accountType }})
                        </a>
                    </li>
                    {% endfor %}
                    <a href="{% url 'bank_accounts:transactions_create' %}" class="btn btn-dark">
                    Transfer money
                    </a>
            </div>
        </div>
    </div>
{% endblock %}
