{% extends 'users/base.html' %}
{% block content %}
<div class="col-sm-6">
    <h2>Loans</h2>
      
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            {% for loan in loans %}
          <li class="list-group-item"><a href="{% url 'bank_accounts:accounts_show' loan.id %}" class="list-group-item list-group-item-action">
            {{ loan.name }}
        </a></li>
            {% endfor %}
        </ul>
      </div>
    <br>
    <a href="{% url 'bank_accounts:create_loan' %}" class="btn btn-dark">
        make a loan
    </a>
</div>
{% endblock %}