{% extends 'users/base.html' %} 

{% block head %}
<title>{{ account.name }}</title>
{% endblock %} 

{% block content %}
<div class="container">
    <h1>{{ account.name }} ({{ account.accountType }})</h1>

    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <span>Balance:</span>
            {% load djmoney %}
            <span>{% money_localize balance %}</span>
        </div>
    </div>


    <h2>History</h2>
    <div class="card" style="width: 20rem;">
        <div class="card-body" id="transactionDiv">
            <ul>
                {% for transaction in transactions %}
                <li>
                    <div>
                        <span>Amount:</span>
                        <span>{{ transaction.amount }}</span>
                    </div>
                    {% if transaction.is_outgoing %}
                    <div>
                        <span>To:</span>
                        <span>
                            {{ transaction.interacting_account.name }}
                            ({{transaction.interacting_account.id }})
                        </span>
                    </div>
                    {% else %}
                    <div>
                        <span>From:</span>
                        <span>
                            {{ transaction.interacting_account.name }}
                            ({{transaction.interacting_account.id }})
                        </span>
                    </div>
                    {% endif %}
                    <div>
                        <span>Date:</span>
                        <span>{{ transaction.created_at | date:"d/m/Y" }}</span>
                    </div>
                </li>
                <hr>
                {% endfor %}
            </ul>
            
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="container">
            <a class="btn btn-dark" href="{% url 'bank_accounts:transactions_create' %}">Transfer money</a>
            
            <a class="btn btn-outline-danger" href="{% url 'bank_accounts:pay_loan' %}">Pay back</a>
            
        </div>
    </div>
</div>
{% endblock %}
