{% extends 'users/base.html' %} 

{% block head %}
<title>Transfer money</title>
{% endblock %} 

{% block content %}
<div class="container">
    <h1>Transfer money</h1>

    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <form action="{% url 'bank_accounts:transactions_store' %}" method="POST">
                {% csrf_token %}
                
                <div>
                    <label>From</label>
                    <select name="from">
                        <option value="">Select account</option>
                        {% for account in accounts %}
                            <option value="{{ account.id }}">
                                {{ account.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>To</label>
                    <select name="to">
                        <option value="">Select account</option>
                        {% for account in allAccounts %}
                            <option value="{{ account.id }}">
                                {{ account.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Amount</label>
                    <input type="number" name="amount" placeholder="Amount">
                </div>

                <button type="submit">
                    Transfer
                </button>

                {% if error %}
                    <p style="color: red;">
                        {{ error }}
                    </p>
                {% endif %}
            </form>
        </div>
    </div>

</div>
{% endblock %}
