{% extends 'users/base.html' %} 

{% block head %}
<title>Transfer money</title>
{% endblock %} 

{% block content %}
<div class="container">
    <h1>Make a loan</h1>

    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <form action="{% url 'bank_accounts:create_loan' %}" method="POST">
                {% csrf_token %}


                <input type="number" name="amount" placeholder="Amount">
                <!-- <input type="text" name="to" placeholder="To Account"> -->
                <select id="accounts" name="to">
                    {% for account in accounts %}
                    <option value="{{ account.pk }}">{{ account.name }}</option>
                    {% endfor %}
                  </select>
                <input type="text" name="name" placeholder="Loan name">
                

                <button type="submit">
                    Submit loan
                </button>

                {% if error %}
                    <p style="color: red;">
                        {{ error }}
                    </p>
                {% endif %}
            </form>
        </div>
    </div>

</div>
{% endblock %}
