{% extends 'users/base.html' %} 

{% block head %}
<title>Transfer money</title>
{% endblock %} 

{% block content %}
<div class="container">
    <h1>Pay back the loan</h1>

    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <form action="{% url 'bank_accounts:pay_loan' %}" method="POST">
                {% csrf_token %}

                <label>From account</label>
                <select id="accounts" name="from">
                    {% for account in accounts %}
                    <option value="{{ account.pk }}">{{ account.name }}</option>
                    {% endfor %}
                  </select>
                  <label>To loan account</label>
                <select id="accounts" name="to">
                    {% for loan in loans %}
                    <option value="{{ loan.pk }}">{{ loan.name }}</option>
                    {% endfor %}
                  </select>
                

                <button type="submit">
                    Pay loan
                </button>

                {% if error %}
                    <p style="color: red;">
                        {{ error }}
                    </p>
                {% endif %}
            </form>
        </div>
    </div>

</div>
{% endblock %}
