{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>GetBroke</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'main.css' %}" type="text/css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">GetBroke</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'users:logout' %}">Logout <span data-feather="log-out"></a>
          
          {% else %}
          <a class="nav-link" href="{% url 'users:login' %}">Log in <span data-feather="log-in"></a>
          {% endif %}
        </li>
       
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky" id="sideBar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link {% if '/users/home/' in request.path %}active{% endif %}" href="{% url 'users:home' %}">
                  <span data-feather="home"></span>
                  Home
                </a>
              </li>

              <li class="nav-item">
                {% if user.is_authenticated and user.is_superuser %}
                <a class="nav-link {% if '/users/' == request.path %}active{% endif %}" href="{% url 'users:users' %}">
                  <span data-feather="grid"></span>
                  Users
                </a>
                {% endif %}
              </li>
              <li class="nav-item">
                <a class="nav-link {% if '/accounts/' == request.path %}active{% endif %}" href="{% url 'bank_accounts:accounts_index' %}">
                  <span data-feather="dollar-sign"></span>
                  Accounts
                </a>
              </li>
              <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="nav-link {% if '/accounts/loans/' in request.path %}active{% endif %}" href="{% url 'bank_accounts:loan_index' %}">
                  <span data-feather="home"></span>
                  Loans <span class="sr-only">(current)</span>
                  
                <a class="nav-link {% if '/investments/' in request.path %}active{% endif %}" href="{% url 'investments:dashboard' %}">
                  <span data-feather="bar-chart"></span>
                  Investments
                </a>
                {% endif %}
              </li>
              <li class="nav-item">
                {% if user.is_authenticated %}
                  <a class="nav-link {% if '/users/profile/' in request.path %}active{% endif %}" href="{% url 'users:profile' %}">
                    <span data-feather="users"></span>
                    My profile
                  </a>
                {% endif %}
              </li>
            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          
          {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            {% block content %}
            {% endblock %}
          </div>

          

          
          
        </main>
      </div>
    </div>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
      // Get the container element
      var btnContainer = document.getElementById("sideBar");

// Get all buttons with class="btn" inside the container
      var btns = btnContainer.getElementsByClassName("nav-link");

// Loop through the buttons and add the active class to the current/clicked button
      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
          var current = document.getElementsByClassName("nav-link active");
          current[0].className = current[0].className.replace(" active", " ");
          this.className += " active";
        });
      }
    </script>
   
   
    
  </body>
</html>
