{% extends "users/base.html" %}

{% block content %}
    <div class="content-section">
        <form action="{% url 'users:register' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="form-control" type="text" name="username" placeholder="User Name">
            <br>
            <input class="form-control" type="email" name="email" placeholder="Email Address">
            <br>
            <input class="form-control" type="tel" name="phone" placeholder="Phone">
            <br>
            <input class="form-control" type="password" name="password" placeholder="Password">
            <br>
            <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password">
            <br>
            <select name="rank">
                {% for rank in userRanks %}
                    <option value="{{ rank.id }}" {% if rank.id == 1 %}selected{% endif %}>
                        {{ rank.name }}
                    </option>
                {% endfor %}
            </select>

            
            <button class="btn btn-primary btn-block py-2 my-3">Create customer</button>
         </form>
         <hr />
         {% if error %}
            {{ error }}
         {% endif %}
    </div>
{% endblock content %}
