{% extends "users/base.html" %}
{% block content %}
<div class="container">
    <div class="row no-gutters">
        <h2>Welcome to the GetBroke bank {{request.user.username}}!</h2>
        <br>
        <a class="btn btn-dark" href="{% url 'bank_accounts:create_account' %}" role="button">
            Open account
        </a>
    </div>
</div>
    
{% endblock content %}
