{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            <input class="form-control" type="text" placeholder="username" name="username">
            <br>
            <input class="form-control" type="password" placeholder="password" name="password">
            <br>
            <input class="btn btn-primary btn-block py-2 my-3" type="submit" value="Login">
        </form>
    </div>
{% endblock content %}