{% extends 'users/base.html' %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 mb-4">
            <h2>Profile overview</h2>
            <div>
                <div class="card">
                    <div class="card-body">
                        <form id="user-info-form">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" id="username-field" class="form-control" name="username" value="{{ user.username }}">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" id="email-field" class="form-control" name="email" value="{{ user.email }}">
                            </div>
                            <button class="btn">Update</button>
                        </form>
                        <hr>
                        <div>
                            <span>Rank:</span>
                            <h3>{{ user.userprofile.userRank.name }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <h2>Savings Account</h2>
            {% for account in accounts %}
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Name: {{account.name}}</h5>
                        <hr>
                        <a href="{% url 'bank_accounts:accounts_show' account.id %}" class="btn btn-light">View</a>
                    </div>
                </div>
            {% endfor %}
            <a class="btn btn-dark" href="{% url 'bank_accounts:create_savings' %}">Open savings account</a>
        </div>
    </div>
</div>

<script>
    const endpoint = "/api/v1/users/{{ user.id }}"
    const form = document.querySelector('#user-info-form')
    const usernameField = document.querySelector('#username-field')
    const emailField = document.querySelector('#email-field')

    function getCookie(name) {
        let cookieValue = null
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';')
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim()
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === name + '=') {
                    cookieValue = decodeURIComponent(
                        cookie.substring(name.length + 1)
                    )
                    break
                }
            }
        }
        return cookieValue
    }

    const updateUser = async data => {
        const response = await fetch(endpoint, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify(data)
        })
        const user = await response.json()
        return user
    }

    form.addEventListener('submit', async event => {
        event.preventDefault()
        const result = await updateUser({
            username: usernameField.value,
            email: emailField.value,
        })
    })
</script>
{% endblock %}






