{% extends "users/base.html" %}

{% block content %}
    <div class="container">
        <div class="row ">
            <div class="col-sm-6">
                <div>
                    <h1>Clients overview</h1>
                    <form method="GET">
                        <div class="active-cyan-4 mb-4">
                            <input class="form-control" id="user-search-input" type="text" placeholder="Search client..">
                        </div>
                    </form>

                    <br>

                    <ul class="list-group list-group-flush" id="user-list">
                        <p>Search for a user name above</p>
                    </ul>
                </div>

                <br>

                <div>
                    <h2>Create customers</h2>
                    <a class="btn btn-dark" href="{% url 'users:register' %}">Create customer</a>
                </div>
            </div>
        </div>
    </div>

    <template id="user-list-item-template">
        <li class="list-group-item"> 
            <a href="{% url 'users:user' user.id %}">Test</a>
        </li>
    </template>

    <script>
        const endpoint = "/api/v1/users/all"
        const userSearchInput = document.querySelector('#user-search-input')
        const userList = document.querySelector('#user-list')
        const userListItemTemplate = document.querySelector('#user-list-item-template')

        const fetchUsers = async query => {
            const response = await fetch(`${endpoint}?query=${query}`)
            const users = await response.json()
            return users
        }

        const renderUsers = users => {
            userList.innerHTML = ''

            users.forEach(user => {
                const node = userListItemTemplate.content.cloneNode(true)
                node.querySelector('a').innerHTML = user.username
                node.querySelector('a').setAttribute('href', `/users/${user.id}`)

                userList.appendChild(node)
            })
        }

        userSearchInput.addEventListener('input', async event => {
            event.preventDefault()
            const users = await fetchUsers(event.target.value)
            renderUsers(users)
            console.log(userList)
            console.log(userListItemTemplate)
        })
    </script>
{% endblock content %}
