{% extends "users/base.html" %}
{% block content %}
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-8">
                <div>
                    <h1>User: <b>{{ customer.username }}</b></h1>
                    <div class="card">
                        <div class="card-body">
                            <form id="user-info-form">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" id="username-field" class="form-control" name="username" value="{{ customer.username }}">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" id="email-field" class="form-control" name="email" value="{{ customer.email }}">
                                </div>
                                <button class="btn">Update</button>
                            </form>
                            <hr>
                            <form method="POST" action="{% url 'users:user_profile' customer.id %}">
                                {% csrf_token %}
                                <label>Rank:</label>
                                <select name="rank">
                                    {% for rank in userRanks %}
                                        <option value="{{ rank.id }}" {% if rank.id == customer.userprofile.userRank.id %}selected{% endif %}>
                                            {{ rank.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <button type="submit">Change rank</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div>
                    <h2>Accounts associated with this user</h2>
                    <div class="list-group">
                        {% for account in accounts %}
                            <a href="{% url 'bank_accounts:accounts_show' account.id %}" class="list-group-item list-group-item-action">
                                {{account.name}}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const endpoint = "/api/v1/users/{{ customer.id }}"
        const form = document.querySelector('#user-info-form')
        const usernameField = document.querySelector('#username-field')
        const emailField = document.querySelector('#email-field')

        function getCookie(name) {
            let cookieValue = null
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';')
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim()
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === name + '=') {
                        cookieValue = decodeURIComponent(
                            cookie.substring(name.length + 1)
                        )
                        break
                    }
                }
            }
            return cookieValue
        }

        const updateUser = async data => {
            const response = await fetch(endpoint, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify(data)
            })
            const user = await response.json()
            return user
        }

        form.addEventListener('submit', async event => {
            event.preventDefault()
            const result = await updateUser({
                username: usernameField.value,
                email: emailField.value,
            })
        })
    </script>
{% endblock content %}
