<form method="POST" action="{{ action }}">
    {% csrf_token %}

    {% for field in form %}
        <div class="mb-3">
            <div>
                {{ field.label_tag }}    
            </div>
            <div>
                {{ field }}
            </div>
        </div>
    {% endfor %}

    <button>
        {{ cta }}
    </button>
</form>
