<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block head %} {% endblock %} {% load static %}
    </head>
    <body>
        {% block content %} {% endblock %} {% block footer %} {% endblock %}
    </body>
</html> -->
