{% extends "users/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <section>
                    <h2>Buy {{ stock.name }}</h2>
                    <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <p>
                                The current price is
                                <span 
                                    data-price 
                                    data-ticker="{{ stock.ticker | lower }}"
                                >
                                    {{ stock.price.formatted }}
                                </span>
                            </p>

                            {% url 'investments:buy' ticker=stock.ticker as action  %}
                            {% include 'investments/includes/form.html' with action=action cta="Buy" form=form %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    {% include 'investments/includes/live-view.html' with ticker=stock.ticker %}
{% endblock content %}
