{% extends "users/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <section>
                    <h2>My investments</h2>
                    <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Stock</th>
                                        <th>Shares</th>
                                        <th>Value</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% load has_investment %}
                                    {% for stock in stocks_with_investments %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'investments:stock' ticker=stock.ticker %}">
                                                    {{ stock.name }}
                                                </a>
                                            </td>
                                            <td>
                                                {{ stock.total_shares | floatformat:5 }}
                                            </td>
                                            <td
                                                data-total-value
                                                data-ticker="{{ stock.ticker }}"
                                            >
                                                {{ stock.total_value }}
                                            </td>
                                            <td>                                                    
                                                <a href="{% url 'investments:sell_all' ticker=stock.ticker %}">
                                                    Sell
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-6">
                <section>
                    <h2>All stocks</h2>
                    <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Stock</th>
                                        <th>Current price</th>
                                        <th>Difference</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% load has_investment %}
                                    {% for stock in stocks %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'investments:stock' ticker=stock.ticker %}">
                                                    {{ stock.name }}
                                                </a>
                                            </td>
                                            <td data-price data-ticker="{{ stock.ticker | lower }}">
                                                {{ stock.price.formatted }}
                                            </td>
                                            <td data-difference data-ticker="{{ stock.ticker | lower }}">
                                                {{ stock.price.difference }}
                                            </td>
                                            <td>
                                                <a href="{% url 'investments:buy' ticker=stock.ticker %}">
                                                    Buy
                                                </a>
                                                {% has_investment stock as invested %}
                                                {% if invested %}
                                                    <a href="{% url 'investments:sell_all' ticker=stock.ticker %}">
                                                        Sell
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    {% include 'investments/includes/live-view.html' with ticker="all" %}
{% endblock content %}
