{% extends "users/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <section>
                    <h2>Sell all {{ stock.name }} investments</h2>
                    <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <p>
                                The current price is
                                <span 
                                    data-price 
                                    data-ticker="{{ stock.ticker | lower }}"
                                >
                                    {{ stock.price.formatted }}
                                </span>
                            </p>
                            <p>
                                The current value of all your investments are 
                                <span 
                                    data-total-value
                                    data-ticker="{{ stock.ticker }}"
                                >
                                    {{ total_value }}
                                </span>
                            </p>

                            {% url 'investments:sell_all' ticker=stock.ticker as action  %}
                            {% include 'investments/includes/form.html' with action=action cta="Sell" form=form %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    {% include 'investments/includes/live-view.html' with ticker=stock.ticker %}
{% endblock content %}
