{% extends "users/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <section>
                    <h2>Sell {{ stock.name }}</h2>
                    <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <p>
                                The current price is
                                <span 
                                    data-price 
                                    data-ticker="{{ stock.ticker | lower }}"
                                >
                                    {{ stock.price.formatted }}
                                </span>
                            </p>
                            <p>
                                The current value is 
                                <span 
                                    data-total-value
                                    data-ticker="{{ stock.ticker }}"
                                >
                                    {{ investment.value }}
                                </span>
                                <button type="button" data-sell-all>
                                    Sell entire investment
                                </button>
                            </p>

                            {% url 'investments:sell' ticker=stock.ticker investment_id=investment.id as action  %}
                            {% include 'investments/includes/form.html' with action=action cta="Sell" form=form %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script>
        const button = document.querySelector('[data-sell-all]')
        const input = document.querySelector('#id_amount')
        
        button.addEventListener('click', event => {
            const value = document.querySelector('[data-total-value]').textContent.trim().replace('$', '')
            input.value = value
        })
    </script>

    {% include 'investments/includes/live-view.html' with ticker=stock.ticker %}
{% endblock content %}
