{% extends "users/base.html" %}
{% block content %}
    <div class="container">
        <h2>{{ stock.name }}</h2>
        <div class="row">
            <div class="col-sm-6">
                <section class="page-section">
                    <h3>Info</h3>
                    <div class="card">
                        <div class="card-body">
                            <div class="kw-list">
                                <div>
                                    <span>Ticker:</span>
                                    <span>{{ stock.ticker }}</span>
                                </div>
                                <div>
                                    <span>Current price:</span>
                                    <span 
                                        data-price 
                                        data-ticker="{{ stock.ticker | lower }}"
                                    >
                                        {{ stock.price.formatted }}
                                    </span>
                                </div>
                                <div>
                                    <span>Difference:</span>
                                    <span 
                                        data-difference 
                                        data-ticker="{{ stock.ticker | lower }}"
                                    >
                                        {{ stock.price.difference }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-6">
                <section class="page-section">
                    <h3>History</h3>
                    <div class="card">
                        <div class="card-body">
                            <div class="kw-list" data-history>
                                {% for price in history %}
                                    <div>
                                        <span>{{ price.formatted }}</span>
                                        <span>({{ price.difference }})</span>
                                    </div>
                                {% endfor %}
                            </div>
                            <template data-history-template>
                                <div>
                                    <span></span>
                                    <span></span>
                                </div>
                            </template>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <section class="page-section">
                    <h3>My investments</h3>
                    <div class="card">
                        <div class="card-body">
                            <div>
                                {% if investments %}
                                    <div class="mb-2">
                                        <h4>Total</h4>
                                        <div class="kw-list">
                                            <div>
                                                <span>Shares:</span>
                                                <span>{{ total_shares | floatformat:5 }}</span>
                                            </div>
                                            <div>
                                                <span>Current value:</span>
                                                <span 
                                                    data-total-value
                                                    data-ticker="{{ stock.ticker }}"
                                                >{{ total_value }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-2">
                                        <h4>Investments</h4>
                                        {% for investment in investments %}
                                            <div class="mb-2">
                                                <h5>{{ investment.created_at }}</h5>
                                                <div class="kw-list">
                                                    <div>
                                                        <span>Purchase price:</span>
                                                        <span>{{ investment.purchase_price }}</span>
                                                    </div>
                                                    <div>
                                                        <span>Value at purchase:</span>
                                                        <span>{{ investment.purchase_value }}</span>
                                                    </div>
                                                    <div>
                                                        <span>Current value:</span>
                                                        <span 
                                                            data-investment
                                                            data-id="{{ investment.id }}"
                                                        >{{ investment.value }}</span>
                                                    </div>
                                                </div>
                                                <a href="{% url 'investments:sell' ticker=stock.ticker investment_id=investment.id %}">
                                                    Sell
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p>You don't have any investments</p>
                                {% endif %}
                            </div>

                            <div>
                                <h4>Actions</h4>
                                <a href="{% url 'investments:buy' ticker=stock.ticker %}">
                                    Buy
                                </a>
                                {% if investments %}
                                    <a href="{% url 'investments:sell_all' ticker=stock.ticker %}">
                                        Sell all investments
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    {% include 'investments/includes/live-view.html' with ticker=stock.ticker %}
{% endblock content %}
